@charset "utf-8";

html{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 32px;
}

strong{
  font-size: large;
  color: rgba(252, 126, 126, 0.742);
}

.point h3{
  color: #eee;
  font-size: 24px;
}

.imge{
  text-align: center;
}

h4{
  color:rgba(252, 126, 126, 0.742) ;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
}

h2{
  font-size: 24px;
  /* padding-top: 60px; */
  /* padding-bottom: 8px; */
  border-bottom: 1px solid #ddd;
  text-align: center;
  background: #ddd;
  border-radius: 16px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.point{
  background: rgba(252, 126, 126, 0.742);
  margin: 32px 8px;
  /* border: 1px solid #ddd; */
  border-radius: 16px;
}

.point h3{
  text-align: center;
  margin: 16px;
  padding-top: 8px;
}

.point p{
  margin: -8px 8px;
  padding-bottom: 8px;
  /* background-color: #fff; */
}

.red{
  color: rgba(252, 126, 126, 0.742);
}

dt,
dd{
  margin-bottom: 8px;
}
.option{
  margin-top: 8px;
  text-align: center;
}

h1{
  font-size: 24px;
  padding: 32px;
  text-align: center;
  background: #ddd;
  border-radius: 16px;
  
}

.kakikata{
  color: orange;
  text-align-last: center;
}
.huuto{
  color: rgb(14, 14, 14);
  text-align-last: center;
}

/* .seisan ol{
  /* background-color: pink; */
  /* text-align: center; */
  /* padding: 16px 24px; */
/* } 

.seisan li{
  font-size: larger;
  border: #eee solid 4px;
  background: #eee;
  border-radius: 16px;
  width: 224px;
  text-align: center;
  /* align-items: center; */
  /* margin-bottom: 8px;
  border-bottom: #ddd 2px solid;
} */

.check{
  margin-left: 16px;
}

article dt{
  font-size: larger;
  /* border: #eee solid 4px; */
  /* background: #eee; */
  border-radius: 16px;
  width: 75%;
  /* text-align: center; */
  /* align-items: center; */
  margin-bottom: 8px;
  border: #ddd 1px solid;
  padding: 6px;
}

article dd{
  background-color: rgb(186, 237, 109);
  border-radius: 16px;
  /* text-align: center; */
  margin-bottom: 8px;
  font-size: larger;
  padding: 6px;
}

dt + dd{
  margin-top: 6px;
}


footer{
  margin-top: 64px;
  text-align: center;

  /* border-radius: 16px; */
  
}

dd + dt{
  /* margin-top: 32px; */
}
